input[name="openid_identifier"] {
        width: 80%;
        background: url(http://openid.net.cn/login-bg.gif) no-repeat;
        background-position: 0 50%;
        padding-left: 18px;
}

textarea[name="queryString"] {
        width: 100%;
        height: 200px;
}

div#ax table tfoot td,div#ax table tbody td input[name="count"],div#sreg th,div#sreg-result th,div#ax-result th
        {
        text-align: right;
}

div#ax th {
        text-align: center;
}

input[name="typeUri"] {
        width: 300px;
}

input[name="count"] {
        width: 50px;
}